@import url('https://fonts.googleapis.com/css2?family=Inter&family=Secular+One&family=Source+Code+Pro&display=swap');

.carousel {
    color: white;
    height: 90%;
    padding: 50px 0px 0px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;


    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-pagination-bullet {
    background: white;

}

.swiper-pagination-bullet-active {

    background: rgba(242, 111, 25, 1);

}

.swiper-button-next,
.swiper-button-prev {
    color: white;
    --swiper-navigation-size: 70px;
    --swiper-navigation-sides-offset: 50px;
}

.swiper-button-prev {
    display: none;
}

.slide-conts {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0px 80px;
}

.slideimg {
    padding: 100px;
}

.slide-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.slide-details h1 {
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 65px;
    color: #F26F19;
}

.slide-details p {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}

.slide-details a {
    text-decoration: none;
    border: 1px solid #F26F19;
    border-radius: 8px;
    margin-top: 20px;
    padding: 12px 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F26F19;
}

@media only screen and (max-width: 480px) {

    .carousel {
        color: white;
        height: 100%;
        padding: 0px 0px 0px;
    }

    .swiper {
        width: 100%;
        height: 93vh;
    }

    .slideimg {
        padding: 0px;
        order: -1;
    }

    .slide-conts {

        grid-template-columns: auto;
        padding: 40px;
    }


    .slide-details h1 {
        margin-bottom: 0;
        font-size: 32px;
        line-height: 25px;
    }

    .slide-details p {
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
    }
}