@import url('https://fonts.googleapis.com/css2?family=Inter&family=Secular+One&family=Source+Code+Pro&display=swap');

.header {
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.header-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(17, 17, 17) 90%);
    height: 90vh;
    padding: 50px 210px 0px;
    /* padding-top: 50px; */
}

.name {
    animation: 3s fadein;
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 118px;
    margin: 10px 0px;
    padding: 0;
    font-family: 'Secular One';
}

.pic-cont {
    width: 30%;
    margin: 150px 0px;
    position: relative;
}

.gradpic {
    animation: 3s fadein;

    width: 100%;
    /* margin: 150px 0px; */

}


.header-subtxt {

    display: flex;
    align-items: left;
    flex-direction: column;
    color: white;
}

.header-subtxt a {
    animation: 3s fadein;
    text-decoration: none;
}

.header-subtxt p {
    animation: 3s fadein;
    font-size: 24px;
    font-family: 'Source Code Pro';
}

.contact-btn {
    font-family: 'Inter';
    font-size: 24px;
    display: flex;
    width: fit-content;
    padding: 24px 48px;
    border-radius: 20px;
    border: 2px solid rgb(242, 111, 25);
    background-color: transparent;
    color: rgb(242, 111, 25);
    transition: 1s ease-out;
}

.contact-btn:hover {
    transition: 1s ease-in;
    background-color: rgb(242, 111, 25);
    color: white;
    cursor: pointer;
}

@keyframes createBox {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@media (max-width: 480px) {
    .header-cont {
        flex-direction: column-reverse;
        height: 80vh;
        padding: 0px 0px 0px;
    }

    .header-cont:last-child {
        justify-content: right;
    }

    .header {
        margin-bottom: -2px;
        padding-top: 100px;
        background-position: right -200px top;
    }



    .name {
        animation: 6s fadein;

        font-size: 2em;
        line-height: 1.5;
    }

    .remove {
        display: none;
    }

    .header-subtxt {
        width: 80%;
    }

    .header-subtxt p {

        animation: 5s fadein;
        font-size: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .contact-btn {
        animation: 5s fadein;
        font-size: 10px;
        padding: 10px 24px;
        border-radius: 20px;
    }

    .pic-cont {
        animation: 6s fadein;
        width: 50%;
        margin: 100px 0px;
        position: relative;

    }



}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}