@import url('https://fonts.googleapis.com/css2?family=Inter&family=Secular+One&family=Source+Code+Pro&display=swap');

.header {
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.header-cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(17, 17, 17) 90%);
    height: 90vh;
    padding-top: 50px;
}

.name {
    font-style: normal;
    font-weight: 400;
    font-size: 92px;
    line-height: 82px;
    margin: 10px 0px;
    padding: 0;
    font-family: 'Secular One';
}

.pic-cont {
    width: 25%;
    margin: 150px 0px;
    position: relative;
}

.gradpic {
    width: 100%;
    /* margin: 150px 0px; */

}

/* .pic-cont::after {
    content: "";
    display: block;
    position: absolute;
    top: -.8em;
    left: -.8em;
    width: 70%;
    height: 60%;
    border-top: .8em solid white;
    border-left: .8em solid white;
}

.pic-cont::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -.5em;
    right: -.8em;
    width: 80%;
    height: 60%;
    border-bottom: .8em solid #f26f19;
    border-right: .8em solid #f26f19;
} */

.header-subtxt {

    display: flex;
    align-items: left;
    flex-direction: column;
    color: white;
}

.header-subtxt p {
    font-size: 24px;
    font-family: 'Source Code Pro';
}

.contact-btn {
    font-family: 'Inter';
    font-size: 24px;
    display: flex;
    width: fit-content;
    padding: 24px 48px;
    border-radius: 20px;
    border: 2px solid rgb(242, 111, 25);
    background-color: transparent;
    color: rgb(242, 111, 25);
    transition: 1s ease-out;
}

.contact-btn:hover {
    transition: 1s ease-in;
    background-color: rgb(242, 111, 25);
    color: white;
    cursor: pointer;
}

@keyframes createBox {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@media (max-width: 480px) {
    .header-cont {
        flex-direction: column-reverse;
    }

    .header-cont:last-child {
        justify-content: right;
    }

    .header {
        margin-bottom: -2px;
        padding-top: 100px;
    }



    .name {
        font-size: 2em;
    }

    .remove {
        display: none;
    }

    .header-subtxt {
        width: 80%;
    }

    .header-subtxt p {
        font-size: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .contact-btn {
        font-size: 10px;
        padding: 10px 24px;
        border-radius: 20px;
    }

    .pic-cont {

        width: 50%;
        margin: 100px 0px;
        position: relative;

    }



}