@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: #141414;
    margin: 0px;
    padding: 0px;
    border: none;
}


.fixedNav {
    width: 12%;
    position: fixed;
}

.navlogo {
    width: 100%;
    padding-bottom: 35%;
}

.nav-cont {
    margin-top: 60px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    padding: 0;

}

.nav-cont li {
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    border-left: 0px none;
    border-right: 0px none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);

    padding: 20px 0px;
}

.nav-cont li:first-child {
    border-top: 2px solid rgb(255, 255, 255, 0.5);

}

.nav-cont li:last-child {
    border-bottom: 2px solid rgb(255, 255, 255, 0.5);
}

.nav-cont li a {
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.nav-cont li a:hover {
    transition: .5s ease;
    color: rgb(242, 111, 25);
}


.navlogo-cont {
    list-style: none;
    text-align: center;
    padding: 0;
}

.mobile-btn {
    display: none;
}

@media (max-width: 480px) {
    .fixedNav {
        width: 100%;
        position: fixed;
    }

    .nav {
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        text-align: center;
    }

    .navlogo {
        width: 7%;
        padding-bottom: 0%;
        margin-left: -40px;
    }

    .mobile-btn {
        display: block;
    }

    .navlogo-cont {
        display: flex;
        margin-right: 30px;
        justify-content: space-between;
    }


    .nav-cont {
        transform: translateY(-25px);
        display: none;
        margin-top: 40px;
        background-color: rgb(20, 20, 20, 0.5);

    }

    .nav-cont li a {
        display: flex;

        margin-left: 11.5em;
    }


}