@import url('https://fonts.googleapis.com/css2?family=Inter&family=Secular+One&family=Source+Code+Pro&display=swap');

.project {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -1px;

}

.project-txt {

    padding: 60px;
    background-image: linear-gradient(0deg, rgba(255, 0, 0, 0), rgb(17, 17, 17) 60%);
}

.project-txt p {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 20px 150px;
}

.intext-link {
    color: #F26F19;

}

.MyProject {
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 65px;
    color: #F26F19;
    margin: 0px 150px;
}

.project-details {

    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.col1 {
    background-image: url("../images/Group 1.png");

}

.col2 {
    background-image: url("../images/Group 2.png");

}

.projectcol:active {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.projectcol {

    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s ease-in-out;
}

.projectcol a {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    border-radius: 14px;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    background-color: rgb(242, 111, 25);
}



.project-details img {
    width: 100%;
}

.col1:hover {
    background-blend-mode: color;
    background-color: rgb(0, 0, 0, 0.5);
}

.col2:hover {

    background-blend-mode: color;
    background-color: rgb(0, 0, 0, 0.5);
}

.col1:hover a,
.col2:hover a {
    visibility: visible;
    opacity: 1;
    display: block;

}

.col1 a:hover,
.col2 a:hover {
    color: black;
    text-decoration: underline;
}



.skills-cont h2 {
    margin: 0;
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 81px;
    color: #F26F19;
    margin: 100px 200px 0px;
}

.skills-cont p {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    margin: 0px 200px 0px;
    color: #FFFFFF;
}

.skills {
    padding: 60px 0px;
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

.skills::before {
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 23.958%;
    height: 110px;

}

.skills::after {
    position: absolute;
    right: 0;
    content: "";
    width: 23.958%;
    height: 110px;

}

.skills .slide-track {
    display: flex;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(240px * 32);
}

.skills .slide {
    display: flex;
}

.skills .slide img {
    width: 180px;
    height: 180px;
    padding: 10px;
    /* background-color: white; */
    cursor: pointer;
    margin: 20px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-240px * 13));
        transform: translateX(calc(-240px * 13));
    }
}

@media only screen and (max-width: 480px) {

    .MyProject {
        font-size: 32px;
        margin: 0px;
    }

    .project-txt p {
        font-size: 16px;
        margin: 20px 0px;
    }

    .project-details {
        grid-template-columns: auto;
    }

    .project-txt {
        background-image: linear-gradient(0deg, rgba(255, 0, 0, 0), rgb(17, 17, 17) 99%);
    }

    .projectcol {
        height: 28vh;
    }

    .col1:hover {
        transition: all 2s ease-in-out;
        background-blend-mode: color;
        background-color: rgb(0, 0, 0, 0.5);
    }

    .col2:hover {
        transition: all 2s ease-in-out;
        background-blend-mode: color;
        background-color: rgb(0, 0, 0, 0.5);
    }

    .col1:hover a,
    .col2:hover a {
        visibility: visible;
        opacity: 1;
        display: block;
        transition: all 1s ease-in-out;

    }

    .skills-cont {
        background-image: linear-gradient(0deg, rgba(255, 0, 0, 0), rgb(17, 17, 17) 80%);

    }

    .skills-cont h2 {
        margin: 0;
        padding: 40px 60px;
        font-size: 32px;
        line-height: 81px;

    }

    .skills-cont p {
        font-size: 16px;
        line-height: 36px;
        margin: 0px 60px;

    }

    .skills .slide img {
        width: 80px;
        height: 80px;
        padding: 5px;
        /* background-color: white; */
        cursor: pointer;
        margin: 20px;
    }

    .project {
        background-image: url('../images/background.png');
        background-size: 250%;
        background-repeat: repeat;
        background-position: center;
        margin-top: -1px;

    }
}

@media only screen and (max-width: 376px) {
    .MyProject {
        margin: 80px 0px 0px;
    }

    .projectcol {
        height: 33vh;
    }
}