.App {
    display: grid;
    grid-template-columns: 12% 88%;
}

.App-Cont {
    margin-left: -1px;
    margin-right: -1px;

}

.html {
    scroll-behavior: smooth;
}

@media (max-width: 480px) {
    .App {
        display: block;
    }

    /* grid-template-columns: 12% 88%; */
}