.App {
    display: grid;
    grid-template-columns: 12% 88%;
}

.App-Cont {
    margin-left: -1px;
    margin-right: -1px;

}

.html {
    scroll-behavior: smooth;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

footer h4 {
    margin-right: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: white;
}

.footer-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

.footer-img img {
    width: 50%;
    padding: 24px 0px;
}

@media (max-width: 480px) {
    .App {
        display: block;
    }

    /* grid-template-columns: 12% 88%; */
}